<!-- Begin Main Navigation -->
<nav class="menu">
    <nav class="menu_expanded">
        <li class="nav_link">@Html.ActionLink("Home", "Index", "ImageGallery")@*<a href="index.html">Home</a>*@</li>
        <li class="nav_link">@Html.ActionLink("About", "About", "ImageGallery")@*<a href="about.html">About</a>*@</li>
        <li class="nav_link">@Html.ActionLink("Portfolio", "Index", "ImageGallery")@*<a href="index.html">Portfolio</a>*@</li>
        <li>@Html.ActionLink("Shop", "Shop", "Shop")</li>
    </nav><!-- end menu_expand -->
    <li class="menu_button nav_link"><a href="#">Menu</a></li>
</nav><!-- end menu_min -->
<!-- End Main Navigation -->
