@{
    ViewBag.Title = "Brian Sachleben | About";
}

<a href="index.html"><h1 class="site_logo">Brian<br>Sachleben</h1></a>

<div class="row">

    <div class="bio_pic col-sm-4">
        <img src="../img/bio-pic-lrg.jpg" alt="image of site author" class="img-circle center-block">
    </div>

    <div class="bio_text col-sm-8">

        <p>
            I am a visual artist from Louisville, Kentucky.  I have a BFA in graphic design from Western Kentucky University.  Currently I am enrolled in Code Louisville's Front End Web Development program in order to expand my skills.
        </p>

        <p>
            In my free time I enjoy visiting new places and taking photographs.  I lived in the Pacific Northwest for several years and took many photos while I was there.  This site showcases some of those photos.
        </p>

    </div>

</div>
