<a href="index.html"><h1 class="site_logo">Brian<br>Sachleben</h1></a>

<!-- image gallery -->
<div id="image_list" class="row">
    <!-- Large image div -->
    <div id="large_image" class="image_lrg active col-xs-12">
        <div id="image_placeholder"><!-- Image goes here --></div>
        <div class="img_info">
            <h2 id="image_title"><!-- Image Title goes here --></h2>
            <p id="image_description"><!-- Image descrition goes here --></p>
        </div>
        <div class="image_navigation">
            <p>
                <span class="close_image"><a href="#">CLOSE</a></span>
                <span class="prev_next_image"><a class="prev_button" href="#">PREV</a> | <a class="next_button" href="#">NEXT</a></span>
            </p>
        </div>
    </div> <!-- end #large_image -->
    <!-- Image gallery thumbnails populate from JSON file and drop here -->

</div> <!-- end bootstrap "row" class -->
<!-- end image gallery -->
